.idli-button-component {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  box-shadow: var(--elevation-3);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
}
